<?xml version="1.0"?>
<configuration>
  <!--使用了system.data.sqlite后，如果startup里不加后面的属性，会报错：Mixed mode assembly is built against version 'v2.0.50727' of the runtime and cannot be loaded in the 4.0 runtime without additional configuration information
  参考：http://blog.csdn.net/nikolay/archive/2011/01/05/6118025.aspx
  RunningMode: ONLINE or OFFLINE
  CITY: BOS (宝山) or SMN (厦门)
  version could get from http://spotshot.baidu.com/getVersion.php
  -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="AllowMultiInst" value="True" />
    <add key="DefaultPort" value="7088" />
    <add key="BingApiKey" value="Create Your Own Key and Place it here" />
    <add key="MemcachedSize" value="64" />
    <add key="Language" value="zh-CN" />
    <add key="ShowInSystemTray" value="True" />
    <add key="InstantCache" value="True"/>
    <add key="LoadLastConfiguration" value="True" />
    <add key="AllowFileCacheOfOnlineMaps" value="True" />
    <add key="AllowFileCacheOfRasterImage" value="True" />
    <add key="FileCachePath" value="filecache" />
    <add key="RunningMode" value="ONLINE" />
    <add key="MaxDownloadThread" value="100" />
    <add key="RoundInterval" value="180000" />
    <add key="StreetUDT" value="20160330" />
  </appSettings>
  <!--Improving performance of multithreaded HttpWebRequests in .NET:http://stackoverflow.com/questions/388908/improving-performance-of-multithreaded-httpwebrequests-in-net-->
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="65000"/>
    </connectionManagement>
  </system.net>
  <!-->system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="ST" cacheMemoryLimitMegabytes="10"  pollingInterval="00:02:00"/>
      </namedCaches>
    </memoryCache>
  </system.runtime.caching-->
</configuration>
